video {
    object-fit: fill;
    // border-radius: 5px;
    width: 25%;
    width: 60%;
    height: 95%;
    margin: 15px auto;
}






// // For tablet
@media only screen and (min-width: 500px) and (max-width: 768px) {
    video {
        width: 35%;
        // margin: 5%;
        // height: 100%;
    }
}

// For Desktop
@media only screen and (min-width: 800px) {
    video {
        // object-fit: contain;
        width: 25%;
        max-height: 450px;
    }
}


@media only screen and (min-width: 1600px) {
    video {
        max-height: 630px;
    }
}


