.aboutus {
    display: flex;
    flex-direction: column;
    min-height: 413px;

    & .aboutus__videos {
        order: 2;
        display: flex;
        

        video {
            width: 45%;
            object-fit: contain;
            margin: 0.6em;
        }
    }

    & .aboutus__text {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        div:first-child {
            width: 70%;
            // background: red;
            text-align: left;
        }
    }
}

// For Tablets
@media only screen and (min-width: 500px) and (max-width: 768px) {
    .aboutus {
        & .aboutus__videos {
            flex-direction: row;
            align-items: center;
            margin-left: 45px;
            
            & video {
                // width: 48%;
                object-fit: fill;
            }
        }
    }
}

@media only screen and (min-width: 769px) {
    .aboutus {
        flex-direction: row;

        & .aboutus__videos {
            order: 0;
            flex: 1;
            padding: 0px;

        }
        
    }
}

@media only screen and (min-width: 1400px) {
    .aboutus {

        & .aboutus__videos {
            padding: 100px;
        }

        & .aboutus__text  {
            font-size: xx-large;
        }
    }
    
}


