$bg-color: #000;

.footer-container {
    background-color: $bg-color;
    color: white;

    & .footer-email-containter {
        display: flex;
        flex-direction: column;
        & .footer-email-termsPolicy{
             font-size: 10px;
             margin-top: 5px;

             & a {
                 color: $bg-main;
             }
        }
    }
}

