$bg-color: #000;

.footer-container {
    background-color: $bg-color;
    color: white;

    & .footer-email-container {
        display: flex;
        flex-direction: column;
        & .footer-email-termsPolicy{
             font-size: 10px;
             margin-top: 5px;

             & a {
                 color: $bg-main;
             }
        }
    }
}



@media only screen and (min-width: 1400px) {
    .footer-container {
       
        & .footer-email-container {

            & h6 {
                font-size: 1.2rem;
                margin-bottom: 25px;
            }

            & .footer-email-termsPolicy{
                font-size: 1.2rem;
            }
        }
    }
}


