@import 'variable';
@import '../src/components/about/about.scss';
@import '../src/components/buttons/button.scss';
@import '../src/components/email/emailInput.scss';
@import '../src/components/footer/footer.scss';
@import '../src/components/hamburger/hamburger.scss';
@import '../src/components/landing/landing.scss';
@import '../src/components/navbar/navbar.scss';
@import '../src/components/videocard/videocare.scss';


.App {
  text-align: center;
  background-color: $bg-main;
}

.border-red {
  border: 1px solid red;
}
.error {
  color: red;
}

.disabled {
  pointer-events: none;
}